
* { 
    padding: 0px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
}

.fondo {
    background-color: indigo;
}

.titulo {
    padding: 0px;
    text-align: center;
    margin: auto;    
    font-size: 60px;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(11, 11, 6);
    border: 6px dashed rgb(37, 5, 180);
    
}

#player {
    background-color: rgb(120, 13, 166);
    border: 4px dashed rgb(43, 11, 162);
    width: 50px;
    height: 50px;
    border-radius: 29px;
    position: absolute;
    transition:all 0.3s;
}

.pointer {
    margin: auto;
    background-color: #444;
    height: 30px;
    width: 500px;
    margin-top: 30px;
    border-bottom: 0px;
    border: 6px dashed rgb(37, 5, 180);
    color: antiquewhite;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;

}